@model TestingEFRelations.Models.Product

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-4">
        <img src="~/Images/PlaceholderImage.jpg" width="350" height="250" />
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col">
                @*<p>@Html.DisplayNameFor(model => model.ProductName):</p>*@
                <p>@Html.DisplayFor(model => model.ProductName)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @*<p>@Html.DisplayNameFor(model => model.ProductDescription):</p>*@
                <p>@Html.DisplayFor(model => model.ProductDescription)
            </div>
        </div>
    </div>
   

</div>

<div class="row m-2">
    <div class="col-2 offset-4">
        @Html.DisplayNameFor(model => model.ProductSize):
        @Html.DisplayFor(model => model.ProductSize.SizeName)
    </div>

    <div class="col">Status value</div>

</div>

<div class="row m-2">
    <div class="col-2 offset-4">
        @Html.DisplayNameFor(model => model.ProductPrice):
        @Html.DisplayFor(model => model.ProductPrice)$
    </div>

    <div class="col ">
        <button class="btn btn-success">Add to Cart</button>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        @Html.DisplayNameFor(model => model.ProductQuantity):
        @Html.DisplayFor(model => model.ProductQuantity)
        quantity user input
    </div>
</div>

@*<div>*@
<hr />

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(model => model.ProductName)</td>
        <td>@Html.DisplayNameFor(model => model.ProductDescription)</td>
        <td>@Html.DisplayNameFor(model => model.ProductImage)</td>
        <td>@Html.DisplayNameFor(model => model.ProductSize)</td>
        <td>@Html.DisplayNameFor(model => model.ProductQuantity)</td>
        <td>@Html.DisplayNameFor(model => model.ProductPrice)</td>
        <td>Status</td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.ProductName)</td>
        <td>@Html.DisplayFor(model => model.ProductDescription)</td>
        <td>@Html.DisplayFor(model => model.ProductImage.ImageName)</td>
        <td>@Html.DisplayFor(model => model.ProductSize.SizeName)</td>
        <td>@Html.DisplayFor(model => model.ProductQuantity)</td>
        <td>@Html.DisplayFor(model => model.ProductPrice)</td>
        <td>Status value</td>
    </tr>
</table>

<table>
    @foreach (var item in Model.ProductSmlImage)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductSmlImage)</th>
            <td>@Html.DisplayFor(i => item.SmlImageName)</td>
        </tr>

    }
</table>
@*<dl class="row">
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">

            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">

            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd>

            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">

            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductSize.ID)
            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductQuantity)
            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductPrice)
            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">

            </dd>
        </dl>
    </div>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
