@model IEnumerable<TestingEFRelations.Models.Product>


@{
    ViewData["Title"] = "Main Menu";
}

<h1>Main Menu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-controller="ProductConsume">Go to API</a>
</p>

<div class="row">

    @foreach (var item in Model)
    {

        <div class="card m-1" style="width: 18rem; ">

            <div class="card-body">
                <a asp-action="Details" asp-route-id="@item.ProductID"><img src="@item.ProductImage[0].ImageName" class="card-img-top" width="50" height="150" alt="@item.ProductName"></a>

                <a asp-action="Details" asp-route-id="@item.ProductID"><p class="card-title text-center text-dark">@Html.DisplayFor(modelItem => item.ProductName)</p></a>

                <p class="card-text">@Html.DisplayFor(modelItem => item.ProductDescription)</p>

                <p class="card-text">@Html.DisplayFor(modelItem => item.ProductPrice)$</p>

                <a asp-controller="Api" asp-action="ProductApi" asp-route-id="@item.ProductID" class="card-text">Click me for API!</a>
                |<a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>



                <div class="row">
                    <form asp-controller="Cart" asp-action="Create" method="post" class="mr-1">
                        <input name="ProductID" type="hidden" value="@item.ProductID" />
                        <input name="CartProductQuantity" type="hidden" value="1" />
                        <input type="submit" value="Add to Cart" class="btn btn-primary" />
                    </form>

                    <form asp-controller="Wishlist" asp-action="Create" method="post">
                        <input name="ProductID" type="hidden" value="@item.ProductID" />
                        <input name="WishlistProductQuantity" type="hidden" value="1" />
                        <input type="submit" value="Wishlist" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>

     }

</div>


@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductSize)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSize.SizeName)
        </td>
    </tr>*@
@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQuantity)
        </td>
    </tr>*@

@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
    </tr>*@

@*<td>
        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
    </td>*@



@*<form asp-controller="Api/productApi" asp-action="productApi" method="get">
        <input name="id" type="hidden" value="@item.ProductID" />
        <input type="submit" value="API!" class="btn btn-primary" />
    </form>*@




@*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>*@